<!DOCTYPE html>
<head>
  <title>Papstehrenwort &mdash; Error</title>
  <link href="/static/screen.css" rel="stylesheet">
  <script src="/static/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- <nav class="navbar navbar-default" role="navigation"> -->
  <!-- 	<div class="container-fluid"> -->
  <!-- 		<div class="navbar-header"> -->
  <!-- 			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> -->
  <!-- 				<span class="sr-only">Toggle navigation</span> -->
  <!-- 				<span class="icon-bar"></span> -->
  <!-- 				<span class="icon-bar"></span> -->
  <!-- 				<span class="icon-bar"></span> -->
  <!-- 			</button> -->
  <!-- 			<a class="navbar-brand" href="#">Papstehrenwort</small></a> -->
  <!-- 		</div> -->
  <!-- 		<ul class="nav navbar-nav navbar-right"> -->
  <!-- 			<li><a href="https://github.com/openlab-aux/papstehrenwort">View the Source Code!</a></li> -->
  <!-- 		</ul> -->

  <!-- 	</div> -->
  <!-- </nav> -->
  <!-- <div class="jumbotron"> -->
  <main>
    <header>
      <h1>Papstehrenwort</h1>
      <h2><small> If you don't do it, who will?</small></h2>
    </header>
	<p class="bg-danger">
		{{ . }}<br/>
		<a href="/">You might go back home</a>
	</p>
  </main>

  <script src="static/check-table.js"></script>
</body>
